*{
    padding: 0;
    margin: 0;
}

header{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("../images/olenka-kotyk-iRguZkRTQyA-unsplash.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: initial;
    height: 100vh;  
}

.navbar{
  display: flex;
  height: 80px;
  width: 100%;
  background: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 100px;
  flex-wrap: wrap;
}

.logo{
    width: 20%;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 2%;
    font-size: 60px;
}


.navbar ul{
    display: flex;
    list-style: none;
}


.navbar ul li{
    margin: 0 5px;
}


.navbar ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
}


.navbar ul li a.active,
.navbar ul li a:hover{
    color: #111;
    background: #fff;
}


.navbar .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}


input[type="checkbox"]{
    display: none;
}



@media (max-width: 1200px) {
    .navbar .menu-btn i{
    display: block;
}


.navbar ul{
      position: fixed;
      top: 80px;
      right: 100%;
      margin-left: 70%;
      background: #111;
      height: 100vh;
      width: 30%;
      text-align: center;
      display: block;
}


#click:checked ~ ul{
      left: 0;
}


.navbar ul li{
      width: 100%;
      margin: 40px 0;
}


.navbar ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
}


#click:checked ~ ul li a{
      margin-left: 0px;
}
    

.navbar ul li a.active,
.navbar ul li a:hover{
      background: none;
      color: orange;
    }
}


.navbar button{
    background: none;
    color: white;
    padding: 10px;
    margin-left: 20px;
    border: 2px solid white;
    cursor: pointer;
}

.navbar input:hover{
    border: 2.5px solid white;
}


.welcome11{
    text-align: center;
    color: rgb(236, 147, 83);
    margin-top: 220px;
    font-size: 60px;
    font-family: monospace;
}

.welcome12{
    font-family: monospace;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 6px;
    filter: blur(.7px);
    -webkit-filter: blur(.7px);
}

.container1{
    position: relative;
    background-color: white;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: initial;
    height: 50vh;
    text-align: center;
}

.about{
    padding: 40px;
    display: flex;
    flex-direction: row;  
    margin: auto;
}

.about1{
    width: 50%;
}

.about2{
    width: 50%;
    display: flex;
    margin: 20px;
    position: relative;
}

#story1{
    height: 250px;
    width: 450px;
    margin-left: 200px;
    position: absolute;
    border: 2px solid gray;
}

#story2{
    height: 210px;
    margin-top: 10px;
    width: 280px;
    position: absolute;
    border: 2px solid gray;
}

#story3{
    height: 200px;
    margin-top: 90px;
    width: 250px;
    margin-left: 460px;
    position: absolute;
    border: 2px solid gray;
}


.about11{
    text-align: center;
    color: rgb(109, 66, 36);
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
}

.about12{
    color: black;
    font-family: monospace;
    padding: 30px;
    font-size: 17px;
}

.about13{ 
    display: none;
    color: black;
    font-family: monospace;
    padding: 30px;
    font-size: 17px;
}


.welcome14{
    margin-left: 250px;
    height: 20px;
    width: 200px;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}



.container2{
    position: relative;
    background-color: black;
    height: 85vh;
    display: flex;
    flex-direction: row;
}


.container22{
    width: 50%;
    height: 82%;
}

.container221{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containered{
    position: relative;
    height: 70vh;
    margin: 50px;
    color: white;
    text-align: center;
    z-index: 1;
}

.containered .bg{
    position: absolute;
    background: url("../images/scott-webb-uAfsOdIQhv4-unsplash.jpg") center center;
    background-size: cover;
    opacity: 0.8;
    height: 82%;
    width: 100%;
    z-index: -1;
}

.pcont1{
    padding-top: 50px;
    color: rgb(236, 147, 83);
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
}

.pcont2{
    font-family: monospace;
    font-size: 25px;
}

.pcont3{
    font-family: monospace;
    font-size: 30px;
}

.pcont4{
    font-family: monospace;
    font-size: 20px;
    color: rgb(236, 147, 83);
    padding: 15px;
}

.pcont5{
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
}

.pcont8{
    font-family: monospace;
    padding: 15px;
    font-size: 20px;
}

#ibutton1{
    padding: 10px;
    background: none;
    color: white;
    font-family: monospace;
    border: 2px solid red;
    cursor: pointer;
    margin-left: 250px;
    border-radius: 10px;
}

#ibutton1:hover{
    border: none;
    border-bottom: 2px solid white;
}


.container21{
    width: 50%;;
    text-align: center;
    color: white;
    padding: 70px;
    margin: auto;
}

#img21{
    height: 80px;
    margin-bottom: 20px;
}


.container3{
    background:  white;
    display: flex;
    flex-direction: row;
}

.pick1{
    width: 30%;
    height: 180px;
    margin: 20px;
    text-align: center;
    margin-left: 120px;
}

.pick1 p{
    color: black;
    font-family: monospace;
    margin-top: 20px;
}

.pick2{
    width: 30%;
    height: 180px;
    margin: 20px;
    text-align: center;
}

.pick2 p{
    color: black;
    font-family: monospace;
    margin-top: 20px;
}

.pick3{
    width: 30%;
    height: 180px;
    margin: 20px;
    text-align: center;
    margin-right: 120px;
}

.pick3 p{
    color: black;
    font-family: monospace;
    margin-top: 20px;
}


.container4{
    position: relative;
    background: url("../images/123456.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: initial;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.container41{
    height: 10%;
}

.container41 p{
    color: white;
    text-align: center;
    margin: 20px;
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}


.container42{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.container421{
    height: 10%;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
}

.container421 a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 18px;
    margin-left: 60px;
}

hr{
    margin-left: 30%;
    margin-right: 30%;
}

.container421 a:hover{
    border: 2px solid orange;
    padding: 10px;
}

.container422{
    height: 80%;
    margin: 4%;
}

.container423{
    height: 80%;
    margin: 5%;
    display: none;
}

.container424{
    height: 80%;
    margin: 5%;
    display: none;
}

.container425{
    height: 80%;
    margin: 5%;
    display: none;
}


.container4221 img{
    margin:  5px 50px;
}

.active12{
    border: 2px solid white;
    padding: 10px;
}

.container5{
    background: url("../images/123456.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: initial;
    height: 65vh;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.container5 p{
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    padding: 30px;
    text-decoration: underline;
}


.container51{
    width: 40%;
    margin: 50px;
}

.container52{
    width: 40%;
    margin: 5%;
}

.container52 p{
    text-decoration: none;
    font-size: 20px;
    margin: 2%;
    font-family: monospace;
}

   
.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}
    
.form-info{
    font-size: 16px;
    font-style: italic;
    color: white;
    letter-spacing: 2px;
}


input{
    padding: 10px;
    margin:20px;
    width: 70%;
    background-color:rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline:none;
}

input::placeholder{
    color: white;
}
  
textarea{
    padding: 10px;
    margin: 10px;     
    width: 70%;
    background-color:rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline:none;
}

textarea::placeholder{
    color: white;
}
   

.submit{
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.submit:hover{
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}


.submit21{
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    background: none;
    background: black;
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}
  

 